<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <roleManager enabled="true" />
      <authentication mode="Forms" >
        <forms loginUrl="~/Login.aspx"/>
      </authentication>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="DepartmentBudget" value="10000"/>
    <add key="CompanyBudget" value="30000"/>
  </appSettings> 
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\jun\Desktop\FINAL\BlueConsulting\BlueConsultingDB\App_Data\DATABASE.MDF;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
