<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BlueConsultingDB.Properties.Settings.DATABASEConnectionString"
        connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\jun\Desktop\FINAL\BlueConsulting\BlueConsultingDB\App_Data\DATABASE.MDF;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\jun\Desktop\FINAL\BlueConsulting\BlueConsultingDB\App_Data\DATABASE.MDF;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DataDirectoryLocation" value="../BlueConsultingDB/App_Data"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="DepartmentBudget" value="10000"/>
    <add key="CompanyBudget" value="30000"/>
  </appSettings>
</configuration>
